.btn-info {
  background-color: #007782;
  color: white;
  padding: 10px 15px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  transition: background 0.3s ease;
  border: none;
  outline: none;

  &:hover {
    background-color: darken(#007782, 10%);
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.btn-buy {
  background-color: #8bcba5;
  color: white;
  padding: 10px 15px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  transition: background 0.3s ease;
  border: none;
  outline: none;

  &:hover {
    background-color: darken(#9febbd, 10%);
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.conta-btn{
  background-color: #8bcba5;
  color: white;
  padding: 10px 15px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  transition: background 0.3s ease;
  border: none;
  outline: none;

  &:hover {
    background-color: darken(#9febbd, 10%);
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.login-btn{
  background-color: #8bcba5;
  color: white;
  padding: 10px 15px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  transition: background 0.3s ease;
  border: none;
  outline: none;

  &:hover {
    background-color: darken(#9febbd, 10%);
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}
